@import "vendor/normalize/normalize";
@import "./breakpoints";
@import "./colors";
@import "./fonts";

body,
html {
    background: $snow;
    color: rgba($onyx, 0.75);
    font-size: 1rem;
    font-family: "Lora", sans-serif;
}

a {
    color: $onyx;
    transition: color 180ms ease-in;

    &:hover {
        color: darken($cerulean, 0.5);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 300;
}

img {
    max-width: 100%;
}

p,
pre {
    line-height: 1.8;
    margin: 0;
}

code {
    padding: 0.5rem;
    position: relative;
    white-space: inherit;
}

.page-transition-enter {
    opacity: 0;
    transform: translateY(1rem);
}

.page-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.page-transition-exit {
    opacity: 0;
}

.loading-indicator-appear,
.loading-indicator-enter {
    opacity: 0;
}

.loading-indicator-appear-active,
.loading-indicator-enter-active {
    opacity: 1;
    transition: opacity 250ms;
}
