@import 'modern-normalize/modern-normalize.css';

body {
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

div[data-radix-popper-content-wrapper] {
  will-change: unset !important;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

