@import 'modern-normalize/modern-normalize.css';

div[data-radix-popper-content-wrapper] {
  will-change: unset !important;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

