@import "vendor/normalize/normalize";
@import './breakpoints';
@import './colors';
@import './fonts';

body, html {
  background: $snow;
  color: rgba($onyx, .75);
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $ash;
  transition: color 180ms ease-in;

  &:hover {
    color: darken($concrete, .1);
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 300;
}

img {
  max-width: 100%;
}

p, pre {
  line-height: 1.8;
  margin: 0;
}

code {
  padding: .5rem;
  position: relative;
  white-space: inherit;
}
