@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../public/assets/fonts/open-sans.woff2') format('woff2')
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../public/assets/fonts/ubuntu-mono.woff2') format('woff2')
}
